<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Buscar</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <select matNativeControl required>
        <option value="Isto">Isto</option>
        <option value="É">É</option>
        <option value="Um">Um</option>
        <option value="Filtro">Filtro</option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <select matNativeControl required>
        <option value="Isto">Isto</option>
        <option value="É">É</option>
        <option value="Um">Um</option>
        <option value="Filtro">Filtro</option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary">Buscar</button>
  </form>
</div>