<app-navbar></app-navbar>
<app-masthead title = "Client Register POC" subtitle = "An Angular Project"></app-masthead>
<app-search-bar [dataSource]="dataSource" [table]="table" [inputValue]="inputValue" (searchExecute)="searchPersonByFilter($event)"></app-search-bar>
<div class="d-flex justify-content-center" id="persons-table">

    <table mat-table [dataSource]="dataSource" matSort #table="matTable"  class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let person"> {{person.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let person"> {{person.name}} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let person"> {{person.gender}} </td>
        </ng-container> 

        <!-- Contact Column -->
        <ng-container matColumnDef="contacts">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
            <td mat-cell *matCellDef="let person"> {{getNewMainContact(person.contacts)}} </td>
        </ng-container>

        <!-- Document Column -->
        <ng-container matColumnDef="documents">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Document </th>
            <td mat-cell *matCellDef="let person"> {{getNewRGDocument(person.documents)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<div>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        [showFirstLastButtons]="true" (page)="getPage($event)">
    </mat-paginator> 
</div>